body, html {
  height: 100%;
}

.image1 {
  background-image: url('./images/running.jpg');

  height: 50%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  /*padding-bottom: 220px;*/
}

#link1 {
  position: relative;
  height: 50%;
  color: green;
}

.left-box {
  height: 400px;
  background-color: green;
  font-size: 40px;
  padding-top: 0px;
  position: absolute;
  left: 0px;
  width: 50%;
}

.right-box {
  height: 400px;
  background-color: red;
  font-size: 40px;
  padding-top: 0px;
  position: absolute;
  right: 0px;
  width: 50%;
}

.body {
background-color: black;
}
