body, html {
    height: 100%;
    margin: 0px;
}

.parallax {
    /* The image used */
    background-image: url('./images/zombie.jpg');

    /* Full height */
    height: 50%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
  background-image: url('./images/zombieHands.jpg');
  height: 50%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax3 {
  background-image: url('./images/zombieAttack.jpg');
  height: 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.a{
  border: dotted;
}
.link1{
  text-decoration:none;
  font-size: 1000%;
  opacity: 0.7;
  top: 25%;
  left: 30%;
}

.link2{
  text-decoration:none;
  position: relative;
  font-size: 1000%;
  top: 25%;
  left: 10%;
}

.link3{
  text-decoration:none;
  font-size: 1000%;
  left: 30%;
  top: 50%;
}

.link4 {
  text-decoration:none;
  font-size: 1000%;
  position: relative;
  top: 50%;
  left: 10%;
  background: transparent;
}

#line1{
  text-align: center;
}
#line2 {
  text-align: center;
}
#link_to_guide{
  background-color:black;
}

#guideBody{
  background-image: url('./images/zombie_hoard.jpg');
  height: 25%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#begginersGuide{
  text-align: center;
  margin: 0px;
  color:#9E0000;
  font-size: 300%;
}

#read_more{
  opacity: 0;
}
#read_more_after{
  opacity: 1;
}
.medicalInfo{
  background: linear-gradient(to right, black, rgba(255, 0,0,0));
  background-color:grey;
  margin-bottom:-2.2%;
  background-color:#9E0000;
  padding-top:10px;
  background-padding:20px;
  font-size:20px;
  color:#FFF8FD;

}

.parallax4{
  background-image: url('./images/dying-light-zombie.jpg');
  height: 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax5{
  background-image: url('./images/Zombie-Apocalypse.jpg');
  height: inherit;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
