body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url('./images/zombie.jpg');

    /* Full height */
    height: 50%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
  background-image: url('./images/zombieHands.jpg');
  height: 50%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax3 {
  background-image: url('./images/zombieAttack.jpg');
  height: 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.a{
  border: dotted;
}
.link1{
}
/**#suppliesForWaterPurifier {
  color: red;
  font-size: 20%;
    }*/
#begginersGuide{
  position: relative;
  margin: 0px;
  color:#9E0000;
  font-size: 100%;
}
/*#stepsForWaterPurifier {
  color: blue;
  font-size: 20;
}*/*/
