body, html {
    height: 100%;
    margin: 0px;
}

#survival-chance-good {
color: green;
}
#survival-chance-average {
color: rgb(232, 180, 23);
}
#survival-chance-bad {
color: red;
}

.form-response {
  background-color: blue;
}

.parallax6 {
  background-image: url('./images/zombieHands.jpg');
  height: 50%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax3 {
  background-image: url('./images/zombieAttack.jpg');
  height: 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.a{
  border: dotted;
}
.link1{
  text-decoration:none;
  font-size: 1500%;
  top: 25%;
  left: 25%;
}

.link2{
  text-decoration:none;
  position: relative;
  font-size: 1500%;
  top: 25%;
  left: 10%;
}

.link3{
  text-decoration:none;
  font-size: 1500%;
  left: 30%;
  top: 75%;
}

.link4 {
  text-decoration:none;
  font-size: 1500%;
  position: relative;
  top: 75%;
  left: 10%;
}

.link5 {
  text-decoration:none;
  font-size: 1500%;
  position: relative;
  top: 75%;
}

.link6{
  text-decoration:none;
  font-size: 120%;
  position: relative;
  top: 75%;
  color:#FFF8FD;
}

.percentageSurvival{
  font-size: 50%;
  color: #E80E0C;
}
#line3{
  text-align: center;
}

#line1{
  line-height: 3;
  text-align: center;
}

#line2 {
  text-align: center;
}

#link_to_guide{
  background-color:black;
}

#guideBody{
  background-image: url('./images/zombie_hoard.jpg');
  height: 25%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#beginnersGuide{
  position: absolute;
  text-shadow: 4px 4px #420000;
  text-align: center;
  margin: 0px;
  color: red;
  font-size: 300%;
  padding-top: 50%;
}

#read_more{
  opacity: 0;
}

#read_more_after{
  opacity: 1;
  font-size: 2em;
}

.medicalInfo{
  background: linear-gradient(to right, black, rgba(255, 0,0,0));
  background-color:grey;
  margin-bottom:-2.2%;
  background-color:#9E0000;
  padding-top:10px;
  background-padding:20px;
  font-size:20px;
  color:#FFF8FD;
  max-width: relative;
  text-align: justify;
  padding-right:10px ;
  padding-left:10px ;
}

.foodInfo{
  background: linear-gradient(to right, black, rgba(255, 0,0,0));
  background-color:grey;
  margin-bottom:0px;
  background-color:#9E0000;
  padding-top:10px;
  background-padding:20px;
  font-size:20px;
  color:#FFF8FD;
  text-align: justify;
}

.waterInfo{
  background: linear-gradient(to right, black, rgba(255, 0,0,0));
  background-color:grey;
  margin-bottom:0px;
  background-color:#9E0000;
  padding-top:10px;
  background-padding:20px;
  font-size:20px;
  color:#FFF8FD;
  max-width: auto;
  text-align: justify;
}

.hunterInfo1{
  padding-top:2%;
  padding-bottom:2%;
  background-padding:20px;
  font-size:1.2em;
  color:#FFF8FD;
  max-width: auto;
  text-align: right;
  padding-left: 5%;
  padding-right: 3%;
}

.hunterInfo2{
  padding-top:2%;
  padding-bottom:2%;
  background-padding:20px;
  font-size:1.2em;
  color:#FFF8FD;
  max-width: auto;
  text-align: left;
  padding-left: 3%;
  padding-right: 3%;
}
.title{
  padding-top:5%;
  font-size:1.5em;
  text-align: center;
  color: #FAFAFA;
}

#grad1 {
  background: linear-gradient(to right, black, rgba(0,0,0,0.6));
  color: #FAFAFA;
}

#grad2 {
  background: linear-gradient(to left, black, rgba(0,0,0,0.6));
  color: #FAFAFA;
}


.parallax4{
  background-image: url('./images/dying-light-zombie.jpg');
  height: 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax4_5{
  background-image: url('./images/dying-light-zombie.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
